/* Estilos para el body*/
body{
    background-color: #00001f;
}

.navbar-expand-lg{
    background-color: #9c9a9a;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    margin:0.5rem;
    border-radius: 5px;
}
.nav-item{
    font-family: 'Roboto', sans-serif;
    color:white;
}

.titlePage{
    font-family: 'Roboto', sans-serif;
    color: #dedede;
    margin-top: 3rem;
}


/* Contenidos del Footer de la Página */
.navbar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 5px 0; /* Espacio en la parte superior e inferior del navbar */
    height: 3rem;
    background-color: #9c9a9a;
    border-radius: 5px;

}

.navbar-footer ul {
    list-style: none;
    padding: 0;
    margin-top: 0.3rem;
}

.navbar-footer ul li {
    display: inline;
    margin-right: 20px;

}

.navbar-footer a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    color: #dedede;
}


.card-style {
    height: 100%; /* Asegura que las cards tengan la misma altura */
    display: flex;
    flex-direction: column;
}

.card-body {
    flex: 1; /* Hace que el cuerpo de la card ocupe todo el espacio disponible */
}

.principal{
    margin-top: 10rem;
}

.card-body {
    height: 200px; /* Establece una altura fija para las card-body */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    margin-bottom: 10px; /* Añade un pequeño margen inferior al título para separarlo del párrafo */
}

.image-wrapper {
    margin-bottom: 2em;
}

.image{
    width: 23em;
    height: auto;
    animation: movimiento 3s linear infinite;
}

.image-icon{
    width: 1em;
    height: auto;
}

@keyframes movimiento {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}
