<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <title>Line Graph</title>
  <link rel="stylesheet" href="/lineChart.css"></link>
  <!-- Optional theme -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div class="d-flex justify-content-center">
  <div id="container" style="height: 400px; max-width: 80%;"></div>
</div>


<script th:inline="javascript">
  var fechas = ['2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01', '2023-05-01', '2023-06-01', '2023-07-01', '2023-08-01'];
  var likes = [15, 25, 10, 30, 20, 35, 40, 22]; // Cantidad de likes de ejemplo para las fechas
  var dislikes = [8, 12, 5, 15, 10, 20, 25, 14];
  Highcharts.chart('container',{
    chart: {
      type: 'line',
      width: 500
    },
    title: {
      text: 'Variacion de interacciones de likes y dislikes de Publicaciones'
    },
    xAxis: {
      categories: fechas
    },
    tooltip: {
      formatter: function() {
        return 'Fecha: ' + this.x + '<br/> Likes: ' + this.y;
      }
    },
    series: [{
      name: 'Likes',
      data: likes
    }, {
      name: 'Dislikes',
      data: dislikes
    }]
  });

</script>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <p class="title-description">Comparacion de "likes" y "dislikes" de publicaciones en un intervalo de fechas</p>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Metrica:<br>
        Visualizar cómo varian las interacciones (likes y dislikes) en las publicaciones a lo largo del tiempo.<br>
        Identificar tendencias, patrones o picos en la cantidad de likes y dislikes en un periodo determinado.<br>
        Comparar la evolucion de la recepción (positiva y negativa) de las publicaciones a lo largo del tiempo para entender mejor la respuesta de la audiencia.
      </div>
    </div>
  </div>
</div>


<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>